<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/users/layout :: head">
    <title>DeleteBlog</title>
</head>
<body>
<h3>Remove Blog</h3>
<p>
    <a th:href="@{/blogs}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form action="#" th:action="@{/blogs/delete}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="title">Tittle: </label>
            <input type="text" id="title" th:field="*{title}"/>
        </div>
        <div>
            <label for="content">Content</label>
            <input type="text" id="content" th:field="*{content}"/>
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" th:field="*{description}"/>
        </div>
        <div>
            <label for="author">Author</label>
            <input type="text" id="author" th:field="*{author}"/>
        </div>
        <div>
            <label for="date">Date</label>
            <input type="date" id="date" th:field="*{date}"/>
        </div>
        <div>
            <label for="category">Category: </label>
            <select id="category" th:field="*{category}">
                <option value="" disabled selected>Choose a category</option>
                <option th:each="category : ${categorys}"
                        th:value="${category.id}"
                        th:text="${category.name}">
                </option>
            </select>
        </div>
        <p>
        <input style="width: 150px" type="submit" value="Remove"/>
        <input style="width: 150px" type="submit" value="Cancel" th:href="@{/blogs}">
        </p>
    </form>
</div>
<footer th:replace="/users/layout :: footer"></footer>
</body>
</html>
